<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1><%= user.name %> </h1>
    <a href="">update user</a>
    <a href="">logout</a>
    <h2>all item</h2>
        <a href="">add item</a>
        <% for(let item of allItems){ %> 
            <ul>
                <li>item name :<%= item.itemname %> </li>
                <li>item code :<%= item.itemcode %> </li>
                <li>item price : $<%= item.itemprice %> </li>
                <li>total items : <%= item.totalitems %> pcs</li>
                <form action="">
                    <button>delete</button>
                </form>
            </ul>
        <% } %> 
    
    
</body>
</html>